body {
    padding: 10px;
    background-color: #F5F5F5;
    color: #333333;
    font-family: sans-serif;
}

/* styles used for header-nav-bar */
#nav {
    display: table;
    width: 100%;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}

#nav div {
    background-color: #f5f5f5;
    display: table-cell;
}

#my-account {
    text-align: right;
    vertical-align: middle;
}

#my-account img {
    height: 50px;
    width: 50px;
}

#datepicker {
    height: 28px;
}

/* styles used for the office */
#office {
    /*background-color: #F5F5F5;*/
    /*border: 1px solid #222222;*/
    /*padding: 20px;*/
    /*width: 96%;*/

    float: left;
}

.deskgroup {
    margin: 100px;
    width: 300px;
    height: 200px;
    float: left;
}

.desk {
    border: 8px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 1px;

    background-color: #F5F5F5;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.desk:hover {
    cursor: not-allowed;
}

.desk.vertical {
    width: 98px;
    height: 198px;
}

.desk.left {
    float: left;
}

.desk.right {
    float: right;
}

.desk.horizontal {
    width: 198px;
    height: 98px;
}

.desk.free {
    background-image: url("img/chair.png");
    background-size: 50px 50px;
}

.desk.free:hover {
    cursor: pointer;
    border-color: #009900;
    opacity: 0.5;
}

.desk.reserved-by-snoop {
    border-color: #3333FF;
    background-image: url("people/snoop.png");
}

.desk.reserved-by-bruce {
    border-color: #3333FF;
    background-image: url("people/bruce.png");
}

.desk.reserved-by-kim {
    border-color: #3333FF;
    background-image: url("people/kim.png");
}

.desk.reserved-by-tintin {
    border-color: #3333FF;
    background-image: url("people/tintin.png");
}

.desk.reserved-by-struppi {
    border-color: #3333FF;
    background-image: url("people/struppi.png");
}

.desk.reserved-by-me {
    border-color: #009900;
    background-image: url("people/angie.png");
}

.desk.reserved-by-me:hover {
    cursor: pointer;
}

.desk.unavailable {
    background-color: #999999;
    background-image: url("img/barrier_64bit.png");
    background-size: 44px 44px;
}

#credits {
    clear: left;
}
