body {
    padding: 10px;
}

#office {
    background-color: lightgray;
    padding: 20px;
    width: 1000px;
    float: left;
}

.deskgroup {
    margin: 100px;
    width: 300px;
    height: 200px;
    float: left;
}

.desk {
    border: 8px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 1px;

    background-color: snow;
}

.desk.vertical {
    width: 98px;
    height: 198px;
}

.desk.left {
    float: left;
}

.desk.right {
    float: right;
}

.desk.horizontal {
    width: 198px;
    height: 98px;
}

.desk.reserved {
    border-color: blue;
}

.desk.reserved-by-me {
    border-color: green;
}

.desk.unavailable {
    background-color: darkgrey;
}
