body {
    padding: 10px;
}

#office {
    background-color: lightgray;
    padding: 20px;
    width: 1000px;
    float: left;
}

.deskgroup {
    margin: 100px;
    width: 300px;
    height: 200px;
    float: left;
}

.desk {
    border: 8px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 1px;

    background-color: snow;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.desk.vertical {
    width: 98px;
    height: 198px;
}

.desk.left {
    float: left;
}

.desk.right {
    float: right;
}

.desk.horizontal {
    width: 198px;
    height: 98px;
}

.desk.free {
    background-image: url("img/chair.png");
    background-size: 50px 50px;
}

.desk.reserved-by-snoop {
    border-color: blue;
    background-image: url("people/snoop.png");
}

.desk.reserved-by-bruce {
    border-color: blue;
    background-image: url("people/bruce.png");
}

.desk.reserved-by-kim {
    border-color: blue;
    background-image: url("people/kim.png");
}

.desk.reserved-by-tintin {
    border-color: blue;
    background-image: url("people/tintin.png");
}

.desk.reserved-by-struppi {
    border-color: blue;
    background-image: url("people/struppi.png");
}

.desk.reserved-by-me {
    border-color: green;
    background-image: url("people/angie.png");
}

.desk.unavailable {
    background-color: darkgrey;
    background-image: url("img/barrier_64bit.png");
    background-size: 36px 36px;
}

#credits {
    clear: left;
}
